@{
    ViewData["Title"] = "Home Page";
    Layout = "_HtmlLayout";
}


<section class="site-section-small section-clients light-gray-bg" style="height:100px;">
    <div class="container text-center" style="height:100px;">
        <h3 class="section-title text-center" style="margin-top:-50px;">Coming together is a beginning, keeping together is progress, working together is success.</h3>
                <a class="btn btn-yellow" asp-controller="Account" asp-action="Register">Register Now</a>
                <a class="btn btn-yellow" asp-controller="EXpenses" asp-action="Index">Record Your Expense</a>
    </div>

</section><!-- /.section-clients -->


<div class="text-center">
</div>
