@{
    ViewData["Title"] = "Activate Your Account";
}
<div class="yellow-bg m-1 text-white" style="padding:10px;"><h2>@ViewData["Title"]</h2></div>

<div>
    <p>
        <h3>Great, your account has been created!</h3>
        <h4>Please check your mailbox <em>@ViewBag.Email</em> for instructions on verifying your registration.</h4><br />
        <h4>If you dont find this email in your Inbox within 15 minutes, kindly check your spam folder and mark the email as "Not Spam".</h4>

        <br />
        <h3>
            Or
            <a asp-action="ResendConfirmationEmailAsync" asp-route-email="@ViewBag.Email">
                request a new confirmation email.
            </a>
        </h3>


    </p>
</div>

