@{
    ViewData["Title"] = "Email Confirmed";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
    <a asp-action="Login">Please, click here to login</a>
</div>