@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<style>
    section {
        /*background-color: #FFD500;*/
    }
    .wrapper {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inner {
        background-color: #FFD500;
        position: relative;
        width: 535px;
        border: hidden #3B3A36 2px;
        border-radius: 25px;
        padding: 0px 10px;
        /*margin-top:-50px;
        margin-bottom:-50px;*/
    }
</style>
<div class="wrapper" id="login">
    <div class="inner">
        <form class="form-horizontal my-90" asp-action="Login" method="post">
            <h3 class="section-title-small text-center mb-50">Login</h3>
            <div class="text-danger" asp-validation-summary="All"></div>
            @if (ViewBag.NotVerified != null)
            {
                <div class="alert alert-danger alert-dismissible show" role="alert">
                    <i class="fas fa-ban"></i>
                    @ViewBag.NotVerified
                    <a class="text-info" asp-action="ResendConfirmationEmailAsync" asp-route-email="@Model?.Email">
                        Request a new email.
                    </a>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-info alert-dismissible show" role="alert">
                    <i class="fas fa-check"></i>
                    @TempData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="row">
                <div class="col-sm-12">
                    <label>Email</label>
                    <input class="form-control" type="email" name="Email" placeholder="E-mail *" required>
                </div>
                <div class="col-sm-12">
                    <label>Password</label>
                    <input class="form-control" type="password" name="Password" placeholder="Password *" required>
                </div>
                <div class="col-sm-12">
                    <div class="checkbox" style="float:left;">
                        <input style="margin:5px;" type="checkbox" name="RememberMe" value="true" id="rememberMe">
                        <label style="margin-left:10px;" for="rememberMe"> Remember me</label>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-warning">Log In</button>
            </div>
            <div class="form-group" style="margin-left:10px;">
                <p>
                    <a asp-action="ForgotPassword" style="color:white;float:left;">Forgot your password?</a>
                </p>
                <p>
                    <br />
                    <a asp-action="Register" asp-route-returnUrl="@ViewBag.returnUrl" style="color:white;">Register as a new user</a>
                </p>
            </div>
            <div class="text-center">
                <a asp-action="ExternalLogin" class="btn btn-warning" asp-route-provider="Google" title="Login with Google">Google Log In</a>
                <a asp-action="ExternalLogin" class="btn btn-warning" asp-route-provider="Facebook" title="Login with Facebook">Facebook Log In</a>
            </div>
            <div class="text-right">
            </div>
        </form><!-- form-horizontal -->
    </div>
</div>
