

@using ExpenseTracker.Data.Domain.Models


@(Html.DevExtreme().Button()
       .ID("submitButton")
       .Text("Submit")
       .Icon("check")
       .Type(ButtonType.Success)
)

<h1>Index</h1>



<a asp-action="AddExpenses" asp-controller="Expenses"> Add Expenses</a>

<a asp-action="AddCategory" asp-controller="Category"> Add Category</a>

<h2>Home</h2>

@(Html.DevExtreme().DataGrid<Expense>()
                .ElementAttr(new { @class = "dx-card wide-card" })
                .DataSource(d => d.Mvc().Controller("Expenses").LoadAction("Get").Key("id"))
                .ShowBorders(false)
                .FilterRow(f => f.Visible(true))
                .ColumnAutoWidth(true)
                .ColumnHidingEnabled(true)
                .Columns(columns =>
                {
                    columns.AddFor(m => m.Id)
                    .DataType(GridColumnDataType.Number);
                    columns.AddFor(m => m.NameOfExpense);
                    columns.AddFor(m => m.DateOfExpense)
                    .DataType(GridColumnDataType.Date)
                    .Format(Format.LongDateLongTime);
                    columns.AddFor(m => m.CostOfExpense)
                    .DataType(GridColumnDataType.Number)
                    .Format(Format.Currency);
                    columns.AddFor(m => m.ExpenseCategoryId)
                    .DataType(GridColumnDataType.Number); 
                })
                .Paging(p => p.PageSize(10))
                .Pager(p => p
                    .ShowPageSizeSelector(true)
                    .AllowedPageSizes(new[] { 5, 10, 20 })
                    .ShowInfo(true)
                )
)