@model Expense
@inject IExpenseCategoryService Categories
@{
    ViewData["Title"] = "Update Expenses";
}

<h1>Update Expenses</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateExpenses" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>

            <div class="form-group">
                <input asp-for="AppUserId" type="hidden" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="NameOfExpense" class="control-label">Name of Expense*</label>
                <input asp-for="NameOfExpense" class="form-control" />
                <span asp-validation-for="NameOfExpense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostOfExpense" class="control-label">Cost of Expense*</label>
                <input asp-for="CostOfExpense" class="form-control" />
                <span asp-validation-for="CostOfExpense" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Expense Category*</label>
                @Html.DropDownList("ExpenseCategoryId", new SelectList(Categories.GetCategories(Model.AppUserId), "Id", "Name"), "select  category", new { id = "ExpenseCategoryId", @class = "validate-select form-control" })
                <span asp-validation-for="ExpenseCategoryId" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="DateOfExpense" class="control-label">Date of Expense*</label>
                <input asp-for="DateOfExpense" required type="date" class="form-control" />
                <span asp-validation-for="DateOfExpense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoreDescription" class="control-label">More Description</label>
                <textarea name="MoreDescription" placeholder="You can write anything else here about this expense" class="form-control" rows="3"></textarea>
                <span asp-validation-for="MoreDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Cancel</a>

                <input type="submit" value="Save" class="btn btn-yellow" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="ExpensesCategory" asp-action="AddCategory">Add New Category</a>
</div>

